<div class="  fixed flex justify-center items-center top-0 left-0 right-0 bottom-0 bg-white z-20">
    <div>
        <div id="loading">
            <span class="inline-block capitalize l">
                Error 404 click back home : <a class="text-blue-800 underline" href="/">back Home</a>
            </span>
        </div>
    </div>
</div>
<script>        document.querySelector('title').innerHTML = 'Error'</script>