<form class="block border-4 border-black border-double my-3  p-3 4" action="create" method="post">
    <div class="text-center text-3xl">
        <h2>Create Account For User</h2>
    </div>
    <div class="flex flex-col">
        <label class="flex text-lg font-black" for="username">Username :
            <p class="alerting_form-user block ml-2 text-red-500 font-thin capitalize">

            </p>
        </label>
        <input class="border-2 border-solid outline-none" type="text" name="Username" id="Username" placeholder="Fill In Account User">
    </div>
    <div class="flex flex-col"><label class="flex text-lg font-black" for="Email">Email :
            <p class="alerting_form-email block ml-2 text-red-500 font-thin capitalize">

            </p>
        </label>
        <input class="border-2 border-solid outline-none" type="email" name="Email" id="Email" placeholder="Fill In Email User">
    </div>
    <div class="flex flex-col"><label class="flex text-lg font-black" for="Password">Password : <p class="alerting_form-password block ml-2 text-red-500 font-thin capitalize">

            </p></label>
        <input class="border-2 border-solid outline-none" type="password" name="Password" id="Password" placeholder="Fill In Password User">
    </div>
    <div class="flex flex-col"><label class="flex text-lg font-black" for="Re-Enter Password">Re-Enter Password : <p
                class="alerting_form-re-enter__password block ml-2 text-red-500 font-thin capitalize"></p></label>
        <input class="border-2 border-solid outline-none" type="password" name="Re-Enter Password" id="Re-Enter__Password"
            placeholder="Fill In Re-Enter Password User">
    </div>
    <div class="flex flex-col mt-2">
        <input class="border-2 border-solid outline-none bg-slate-500 cursor-pointer" type="submit" value="Send">
    </div>
</form>

<script>
    const form = document.querySelector('form')
    document.querySelector('title').innerHTML = 'Created A New Account'
    
    function checkForm() {

        const username = document.querySelector('#Username').value.trim()
        const email = document.querySelector('#Email').value.trim()
        const password = document.querySelector('#Password').value.trim()
        const reEnterPassword = document.querySelector('#Re-Enter__Password').value.trim()

        if (username.length > 5
            && /^([^\s@]+@[^\s@]+\.[^\s@]+)$/.test(email)
            && password.length > 7
            && reEnterPassword == password
            && reEnterPassword.length > 7
        ) {
            return true
        } else {
            const alertUserName = document.querySelector('.alerting_form-user')
            const alertEmail = document.querySelector('.alerting_form-email')
            const alertPassword = document.querySelector('.alerting_form-password')
            const alertPasswordEn_tering = document.querySelector('.alerting_form-re-enter__password')
            if (username.length < 6) {
                alertUserName.innerHTML = 'Please fill in at least 6 characters !'
            }
            if (!/^([^\s@]+@[^\s@]+\.[^\s@]+)$/.test(email)) {
                alertEmail.innerHTML = 'Please check again email of you !'
            }
            if (password.length < 7) {
                alertPassword.innerHTML = 'Please fill in at least 8 characters !'
            }
            if (password.length < 7 ||reEnterPassword !== password && reEnterPassword.length < 7) {
                alertPasswordEn_tering.innerHTML = 'Please check again Password En-Tering of you !'
            }
            return false
        }
    }

    form.onsubmit = function (event) {
        return checkForm()
        
    }

</script>