<content class="block border-2 border-black border-solid my-3 flex p-3 gap-4">
    <div class=" border-4 border-black border-double ">
        <a href="account/" class="hover:bg-slate-200 block cursor-pointer p-5">
            Account
        </a>
    </div >
    <div class=" border-4 border-black border-double ">
        <a href="discover/" class="hover:bg-slate-200 block cursor-pointer p-5">
            Discover
        </a>
    </div>
</content>