<div class="my-3 border-4 font-bold border-double border-black">
    <div class="p-1">
        <div class="border-x-1 border-t-1 inline-block border-solid border-black">
            <h2 class="p-2">
                Home page
            </h2>
        </div>
        <div class="border block border-solid capitalize border-black overflow-y-auto  max-h-52 p-2">
            <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2 border xl:grid-cols-5 2xl:grid-cols-6">
                <div class=" text-center border border-solid border-black w-full overflow-hidden ">
                    <a class="block p-2"  href="account/">Account</a>
                </div>
                <div class=" text-center border border-solid w-full overflow-hidden border-black ">
                    <a class="block p-2" href="discover/">discover</a>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="nameAdmin hidden">
{{nameAdmin}}
</div>